*pbs
*pbs.o*
code/learning/__pycache__/*
*core*
demo/*
code/*.DS_Store
results/*.DS_Store
*.DS_Store
/data/raw
/data/processed
!*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
.Rproj.user
.Rprofile
*.jpg
*.sav
*.Rout
/data/temp
